* {
    margin: 0%;
    text-decoration: none;
    
    padding-top: 5px;
}
body{
    background-color : brown;
    padding-left: 30px;
    padding-right:30px;
}

header {
    display: flex;
}
header > div.logo >img{
    width:150px;
    height: 80px;
}
header > div.university-name >h2 {
    color: white;
    padding: 0;
}
header > div.university-name >h6 {
    color: white;
}
header >div.search-icon {
    padding-left: 800px;
    padding-right: 0%;
}
header >div.search-icon >input {
    background-color: white;
}
header > div.icon >li {
    display: inline-flex;
    padding: 0;
}
header > div.icon >li > img{
   width: 25px;
   height: 25px;
   padding: 0%;
}
section > ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
section > ul >li {
    float: left;
    border-right: 1px solid #bbb;

}
section >ul >li :last-child{
    border-right: none;
}
section>ul>li a:hover:not(.active) {
    background-color: black;
  }
section > ul >li>a{
    color: white;
    display: block;
    text-align: center;
    padding: 9px 10px;
    text-decoration: none;
}
section > div.banner >img {
    width: 100%;
    padding: 0%;
    height: 330px;
}
section > div.block {
    background-color:white;
    display: flex;
}
section >div.block >div.block-1{
    width: 50%;
}
section >div.block >div.block-1>h2{
    color: brown;
    padding: 0%;
}
section >div.block >div.block-1>p{
    padding: 0%;
}
section >div.block >div.block-1>img{
    border-radius: 40px;
    width: 200px;
    height: 150px;
    padding: 0%;
}
section >div.block >div.block-2{
    width: 50%;
}
section >div.block >div.block-2>h2{
    color: brown;
    padding: 0%;
}
section >div.block >div.block-2>p{
    padding: 0%;
}
section >div.block >div.block-2>img{
    padding: 0%;
    border-radius: 40px;
    width: 200px;
    height: 150px;
}
footer{
    background-color: #333;
    text-align: center;
    padding-bottom: 10px;
}
footer>p{
    color: #fff;
}